<h1>Inventory List</h1>

<a href="{% url 'inventory:add-product'%}">Add Product</a>

{% if product_list %}
<ul>
    {% for product in product_list %}
    <li>
        <a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a> ({{product.product_count}})
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no products in the inventory.</p>
{% endif %}

<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<a href="{% url 'inventory:export-csv'%}">Export Data to CSV</a>